@charset "utf-8";
body {
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif;
  margin: 0; }

#top {
	margin: 0;
	background: url(/images/p01.gif) no-repeat right bottom;
	height: 100px;}

#side {
	background-color: green;
  float: left;
	width: 200px; }
  #side #menu1 {
  	 }
  #side #menu2 {
  	margin-left: 10px;
		margin-top: 40px; }
  #side #menu3 {
  	margin-left: 10px;
		margin-top: 250px; }

#main {
  float: left; }

h1 {
  padding-top: 20px;
  margin-top: 0;
  font-size: 23px; }

table {
  border: 0;
  empty-cells: show; }
th {
  border: 0;
  padding: 2px 5px 2px 5px; }
td {
  border: 0;
  padding: 2px 4px 2px 4px; }

img {
  border: none; }
