@charset "utf-8";
body {
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif;
  margin: 0; }

#top { }

h1 {
  padding-top: 20px;
  margin-top: 0;
  font-size: 23px; }

table {
  empty-cells: show; }
th {
  border: 0;
  padding: 2px 5px 2px 5px; }
td {
  border: 0;
  padding: 2px 4px 2px 4px; }
